@font-face {
    font-family: 'MyCustomFont';
    src: url('./fonts/FbPragmatiEng-Regular.otf') format('opentype');
    unicode-range: U+0000-00FF; /* Latin (English) characters */
}

@font-face {
    font-family: 'MyCustomFont';
    src: url('./fonts/FbPragmati-Regular.otf') format('opentype');
    unicode-range: U+0590-05FF; /* Hebrew characters */
}

body {
    font-family: 'MyCustomFont', sans-serif;
}

div#root {
    overflow-x: hidden;
}

.dark-blue{
    background-color: #25115d;
}
.blue-dianne{
    background-color: #bcf3ff;
}
.dark-coral{
    background-color: #ebe5d9;
}
.denim{
    background-color: #ff0080;
}
.platinum{
    background-color: #e5e5e7;
}

.white{
    background-color: #fff;
}

.text-dark-blue{
    color: #25115d;
}
.text-blue-dianne{
    color: #bcf3ff;
}
.text-dark-coral{
    color: #ebe5d9;
}
.text-denim{
    color: #ff0080;
}
.text-platinum{
    color: #e5e5e7;
}

.text-white{
    color: #fff;
}
.text-gray{
    color: #5b5959ed;
}

.flipped {
    transform: rotate(180deg);
}

