input{
border-bottom: 1px solid #25115d;
border-top: none;
border-right: none;
border-left: none;
    margin: 12px 0;
}

.css-6h9cc6-MuiInputBase-root-MuiInput-root, .css-2hy7sk-MuiFormLabel-root-MuiInputLabel-root,.css-1ew92b2-MuiFormLabel-root-MuiInputLabel-root {
    font-family: 'MyCustomFont', sans-serif !important;
    text-align: right !important;
    color: #25115d !important;
}


.login-page, .register-page {
    min-height: 100vh;
}

.google div, .facebook div {
    -webkit-box-shadow: 1px 13px 21px -8px rgba(0,0,0,0.62);
    box-shadow: 1px 13px 21px -8px rgba(0,0,0,0.62);
}

h1{
    font-size: 60px;
    line-height: 65px;
    font-weight: 800;
}