.gifs{
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
}
.explantion-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btn:hover{
    color:#ebe5d9;
}